// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #ffca05;
$secondary-color: #444243;
$menu-color: #0097e6;
$header-color: #e1b12c;

$background-color: #140B42;
$menu-secondary-color: #2F323B;
$button-color: #1BA39C;
$secondary-button-color: #04AA6D;