@font-face {
    font-family: 'Nexa Bold';
    src: url('/fonts/Nexa_Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa Light';
    src: url('/fonts/Nexa_Light.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa_Light.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa_Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

:root {
    --primary-color: #ffca05;
    --secondary-color: #444243;
    --background-color: #140B42;
    --menu-color: #2F323B;
    --button-color: #1BA39C;
    --secondary-button-color: #04AA6D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    // 
}

a {
    text-decoration: none;
}

.container-login {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .form-login {
        width: 300px;
        height: auto;
        background: #fff;
        border-top: 10px solid #1BA39C;
        text-align: center;
        font-family: 'Nexa Bold' !important;
        padding: 40px 20px 40px 20px;
        display: block;

        h1 {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            text-align: center;
            background-color: #EEEEEE;
            border: 1px solid #EEEEEE;
            color: var(--secondary-color);
            font-family: 'Nexa';
            font-size: 16px;
        }

        input[type=submit] {
            background-color: #1BA39C;
            border: 1px solid #1BA39C;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        input:focus {
            outline: 0;
        }
        
        span {
            font-family: 'Nexa';
            color: var(--secondary-color);
            font-size: 14px;
        }
    }
}

.dashboard {
    // 

    menu {
        width: 250px;
        border: 1px solid #000;
        background-color: var(--menu-color);
        font-family: 'Nexa';
        padding: 0 0 20px 0;
        position: fixed;
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
        flex: 1;
        flex-basis: 50%;

        .options {
            width: 100%;
            height: 30px;
            background-color: rgba(0,0,0,.6);
            position: relative;
            margin-bottom: 20px;
            display: flex;
            padding: 4px 14px;

            h4 {
                color: white;
                line-height: 1.4;
            }

            a {
                color: white;
                font-size: 16px;
                position: absolute;
                right: 14px;
                top: 6px;
            }
        }

        .foto {
            background-color: #aaa;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            overflow: hidden;
            position: relative;
            margin-bottom: 10px;

            img {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }

        h3 {
            color: white;
            text-align: center;
            font-size: 16px;
            margin-bottom: 20px;
            width: 100%;
            padding: 0 20px;
        }

        ul {
            list-style: none;
            width: 100%;

            li {
                color: white;

                a {
                    color: white;
                    cursor: pointer;
                    padding: 14px 20px;
                    width: 100%;
                    display: block;

                    &:hover {
                        background-color: var(--button-color);
                        transition: .2s;
                    }
                }
            }
        }
    }
}

.alert-success {
    background-color: #2ecc71;
    padding: 8px 20px;
    width: auto;
    color: white;
    font-family: 'Nexa';
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;

    i {
        margin-right: 10px;
    }
}

.alert-danger {
    background-color: #e74c3c;
    padding: 8px 20px;
    width: auto;
    color: white;
    font-family: 'Nexa';
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;

    i {
        margin-right: 10px;
    }
}
